<%- include('templates/header'); %>

<!-- Form-->
<div class="form">
    <div class="form-panel one">
        <div class="form-header">
            <h1>Libro</h1>
        </div>
        <div class="form-content">
            <form action="/book" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" id="title" name="title" required="required" />
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" id="description" name="description" required="required" />
                </div>
                <div class="form-group">
                    <label for="cover">Portada</label>
                    <input type="file" id="cover" name="image" required="required" />
                </div>
                <div class="form-group">
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('templates/footer'); %>