<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Library</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/form.css">

</head>

<body>
    <!--// Header \\-->
    <nav class="navbar nav navbar-expand-lg navbar-dark bg-dark justify-content-center">
        <div class="navbar-nav">
            <a class="nav-link" href="/">LIBROS</a>
            <span class="nav-link">|</span>
            <a class="nav-link" href="book">NUEVO</a>
        </div>
    </nav>
    <!--// Header \\-->